html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: white;
}

body {
    background-color: black;
    text-align: center;
}
.header {
    color: white;
    display: flex;
    width: 100%;
}

.header a {
    color: aquamarine;
}

.header h1 {
    font-size: 3.125rem;
}
.container {
    border: 1px green solid;
    margin: 0 auto;
    width: 100%;
    
}

.content h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

.content p {
    font-size: 1.3125;
}

video {
    margin-top: 2rem;
    border: 1px blue solid;
}

.link {
    
    justify-content: center;
}




